:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 24px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 240px;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

/* Стилі для модалки (Lightbox) */
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
  z-index: 999;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__image {
  display: block;
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
}

.lightbox__button {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1828/1828778.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
